#MainBlock
{
    height: 100vh;
    background-color: rgb(255, 255, 255);
}

.card-img-top {
    width: 50%;
    height: 15vw;
  margin-left: auto;
  margin-right: auto;
  }
  

#hello-msg{
    font-size: 18px;
    color: #000000;
    margin-right: 20px;
  }

#cardDeck{
    height: 50vh;
    display: flex;
    border-style: none;
    align-items: center;
}


