.container
{
    height: 100vh;
    background-color: red;
}

.card-img-top {
    width: 50%;
    height: 15vw;
  margin-left: auto;
  margin-right: auto;
  }



#hello-msg{
    font-size: 18px;
    color: #98f51f;
    margin-right: 20px;
  }
