.tmtbutton {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    font-size: 50px;
	color: #eee;
	cursor: pointer;
	border: 2px solid #eee;
	transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
    transition: opacity 0.6s;
    background-color: #333;
    animation: '';
}

.buttongridB {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-template-rows: repeat(5, auto);
    justify-items: center;
    grid-gap: 70px;
}

.buttongridA {
    display: grid;
    position: absolute;
    align-self: center;
    justify-items: center;
    grid-template-columns: repeat(5, auto);
    grid-gap: 200px 100px;
}


@keyframes incorrect {
    0% { background-color: red;}
    30% { background-color: red;}
    100% { background-color: #333;}
}

.finishbox {
    position: absolute;
    top: 30%;
    left: 10%;
    height: auto;
    width: 80%;
    background-color: aliceblue;
    padding: -20px 0px 20px 0px;
    border: solid 3px #87befd;
    border-radius: 8px;
    visibility: hidden;
}

.dialog {
    font-size: 50px;
    align-content: center;
    text-align: center;
    visibility: hidden;
}

.proceedBtn {
    position: relative;
    width: auto;
    height: auto;
    border-radius: 10%;
    border: solid 3px #71aef5;
    border-radius: 8px;
    bottom: 20px;
    font-size: 30px;
    background-color: #87befd;

}

.explanation {
    text-align: center;
    padding: 20vh 20px;
    font-size: 30px;
    display: none;
}

.tmtA {
    text-align: center;
    padding: 30vh 20px;
    font-size: 30px;
    
}

.tmtB {
    text-align: center;
    padding: 30vh 20px;
    font-size: 30px;
}

.box {
    position: relative;
    height: 90vh;
    width: 50vw;
    background-color: aliceblue;
    border: solid 3px #87befd;
    border-radius: 20px;
    margin: 1vw;
}

.box:hover {
    background-color: rgb(214, 235, 255);
}

.box:hover .tmtA{
    display: none;
}

.box:hover .tmtB{
    display: none;
}

.box:hover .explanation {
    display: inherit;
}

.box p span {
    color: red;
}

.timelabel {
    text-align: center;
    font-size: 20px;
    margin: 10vh 0vh 20vh;
}

.trybtndiv {
    text-align: center;
}

#chart {
    height: 50vh;
    width: 50vh;
}
